<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>

    <div class="myElement">
      <h1>hello, world!</h1>
    </div>

    <script type="text/javascript">

        function httpGetAsync(theUrl, callback){
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
          }
          xmlHttp.open("GET", theUrl, true);
          xmlHttp.send(null);
        }

        httpGetAsync('http://127.0.0.1:5000/stores', function(response) {
          alert(response);
        })
    </script>
  </body>
</html>
